{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>
<head>

	{{ block('head_brand') }}

	<!-- A intégrer en local -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800" rel="stylesheet">

	<!-- TODO: webpack, SCSS-->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/map.css" />
</head>

<body>

	{{ block('bar_brand') }}

	{# Emplacement pour le contenu principal #}
	<!-- bloc texte -->
	<div class="row text">
		<div class="offset-md-2 col-md-8 col-sm-12">

			<p>(textes de travail)</p>
			<h1 class="intro">Covid-19: histoire d’une médiatisation</h1>

			<p class="lead">Une équipe de recherche de l’EPFL a étudié les liens entre articles en ligne, recherches Google et mentions du virus sur les réseaux sociaux</p>

			<!-- google search animation, wip -->
			<div class="text-center" id="corona-search">
				<!-- desktop -->
				<video class="d-none d-sm-block" loop="" muted="" autoplay="" playsinline="">
					<source src="img/corona_search_desktop.mp4?2" type="video/mp4">
					Votre navigateur ne supporte pas les vidéos HTML.
				</video>
				<!-- mobile -->
				<video class="d-block d-sm-none" loop="" muted="" autoplay="" playsinline="">
					<source src="img/corona_search.mp4" type="video/mp4">
					Votre navigateur ne supporte pas les vidéos HTML.
				</video>
			</div>

			<p>«Coronavirus symptômes», «virus», «svizzera coronavirus» ou simplement «symptômes»: ces recherches Google grimpent en flèche en Suisse, d’après le service Trends (tendances) de Google. Les internautes des cantons latins sont plus assidus que les alémaniques, avec un volume de recherche particulièrement élevé vers Lausanne, Genève et Coire.</p>

			<p>Pour étudier comment le Covid-19 s’est médiatisé, une équipe de chercheurs des Laboratoire des systèmes d’information répartis de l’EPFL a comparé trois phénomènes: ces volumes de recherches, le volume des articles publiés en ligne par les médias, et celui des mentions du coronavirus sur Twitter.<p/>

		</div>
	</div>


	<!-- bloc texte -->
	<div class="row text">
		<div class="offset-md-2 col-md-8 col-sm-12">

			<p>«L'exemple de la Suisse est particulier puisque le premier cas a été annoncé un mois après ses voisins, remarque Jérémie Rappaz. Le grand volume d’<span class="highlight highlight-red">articles de presse</span> concernant le virus alors que celui-ci n’était pas présent sur le territoire a pu contribuer au sentiment des gens que la presse en fait trop.» [<span class="highlight highlight-blue">Twitter</span> c’est un problème de données ou c’est vraiment à zéro jusqu’au 23 février en Suisse!?]</p>

			<p><i>Effet de scroll prévu: on passe sur chaque pays. Code couleur à ajouter peut-être </i></p>

		</div>
	</div>


	<!-- bloc données – on peut bien sûr mettre en pleine largeur, au choix -->
	<div class="row chart padding-bottom">
		<div class="offset-md-2 col-md-8 col-sm-12 group-label text-center">
		</div>

		<div class="offset-md-2 col-md-8 col-sm-12">
			<h5>Flambée des cas en Italie et pics de recherches dans les pays voisins</h5>
			<p class="legend">Les recherches Google sont mesurées sur une échelle relative allant de 0 (recherche très rare) à 100 (recherche la plus fréquente).
			Tweets géolocalisés uniquement (env. 25%)</p>
			<div id="trendsChart" class="chart-background"></div>

			<ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="public-CH" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">Suisse</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="public-IT" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false">Italie</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="public-DE" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">Allemagne</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="public-FR" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">France</a>
				</li>
			</ul>
			<!--<div class="source">
				<b>Source: </b>Google Trends, Twitter API. <b>Période:</b> 2020.01.20 - 2020.03.11.
			</div>-->
		</div>
	</div>

	<!-- bloc texte -->
	<div class="row text">
		<div class="offset-md-2 col-md-8 col-sm-12">

			<p><i>A REMANIER – XXXXX Le graphique suivant compare évolution de l’épidémie et tendance des recherches du X février au X mars. «En Italie, on observe un pic de recherche lorsque les infections confirmées passent de 3 à 60 en deux jours, le 22 février. Dans les pays voisins, la courbe monte en flèche quelques jours après cet événement», commente François Quellec, étudiant de master 2 et participant du projet de recherche.</i></p>

		</div>
	</div>

	<div class="row chart padding-bottom">
		<div class="offset-md-2 col-md-8 col-sm-12 group-label text-center">
		</div>

		<div class="offset-md-2 col-md-8 col-sm-12">
			<div id="chartMedia" class="chart-background"></div>
			<ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="media-CH" data-toggle="pill"  role="tab" aria-controls="pills-home" aria-selected="true">Suisse</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="media-IT" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false">Italie</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="media-DE" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">Allemagne</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="media-FR" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">France</a>
				</li>
			</ul>
			<!--<div class="source">
				<b>Source: </b><a target="_blank" href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">Université Johns-Hopkins</a>, Twitter API. <b>Période:</b> 2020.01.20 - 2020.03.11.
			</div>-->
		</div>
	</div>

	<!-- bloc texte -->
	<div class="row text">
		<div class="offset-md-2 col-md-8 col-sm-12">

			<p><i>XXXX PLUS VALABLE Zoom sur l’Italie, où les recherches se sont multipliées plus tôt. En comptant le nombre d’articles publiés au sujet du Covid-19 sur 50 sites de médias italiens, on constate que le pic de recherches est concomitant à un pic de publication d’articles: jusqu’à [~1000 – préciser] publications en un jour le X février.</i></p>

			<div class="col-12" id="mapTrigger"></div>
		</div>
	</div>

	<!-- bloc données – on peut bien sûr mettre en pleine largeur, au choix -->
	<div class="row padding-bottom" id="mapContainer">

		<div class="offset-md-1 col-lg-10 col-sm-12">
			<div id="map" class=""></div>
		</div>

		<div class="offset-md-1 col-lg-10 col-sm-12">
			<!-- Create an element where the map will take place -->
			<ul class="nav nav-pills" id="pills-tab" role="tablist">
				<li class="nav-item">
						<a id="date-1" data-toggle="pill" class="nav-link active" role="tab" aria-controls="pills-home" aria-selected="true" href="#">22/02</a>
					</li>
					<li class="nav-item">
						<a id="date-2" data-toggle="pill" class="nav-link " role="tab" aria-controls="pills-home" aria-selected="true" href="#">29/02</a>
					</li>
					<li class="nav-item">
						<a id="date-3" data-toggle="pill" class="nav-link " role="tab" aria-controls="pills-home" aria-selected="true" href="#">07/03</a>
					</li>
					<li class="nav-item">
					 <a id="date-4" data-toggle="pill" class="nav-link " role="tab" aria-controls="pills-home" aria-selected="true" href="#">14/03</a>
				</li>
			</ul>
			<div class="map-details">
				<h4></h4>
				<p>Survoler/toucher un cercle pour plus d’informations.</p>
			</div>
		</div>
	</div>

	<!-- bloc texte -->
	<div class="row text">
		<div class="offset-md-2 col-md-8 col-sm-12">


			<p>Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. Paragraphe d’intro. </p>

			<p>Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. Paragraphe asdf asdf. </p>

		</div>
	</div>






	<!-- bloc texte -->
	<div class="row text">
		<div class="offset-md-2 col-md-8 col-sm-12">

			<p><b>Recherche</b> Jérémie Rappaz, François Quellec<br>

			<b>Texte</b> Paul Ronga<br>

			<b>Données</b> Johns-Hopkins, à compléter</p>

			<p>Ce projet a bénéficié d’un soutien de l’<a target="_blank" href="https://www.media-initiative.ch/">Initiative for Media Innovation (IMI)</a>.</p>

		</div>
	</div>

	<div class="row">
		<div class="offset-md-2 col-md-8 col-sm-12">
			<p class="source">Le code source de cette page est <a target="_blank" href="https://github.com/labsletemps/coronavirus-trends">disponible en licence libre</a>.</p>
		</div>
	</div>

		</div><!-- end container -->
		<!-- scrollmagic -->
		<script src="lib/scrollmagic/main.min.js"></script>
		<script src="lib/scrollmagic/animation.gsap.min.js"></script>
		<script src="lib/scrollmagic/animation.velocity.min.js"></script>
		<script src="lib/scrollmagic/debug.addIndicators.min.js"></script>

		<script src="lib/jquery-3.4.1.slim.min.js"></script>
		<script src="lib/d3.min.js"></script>
		<script src="lib/d3.min.js"></script>
		<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
		<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/d3-simple-slider"></script>
	  <script src="lib/d3-annotation.min.js"></script>
	  <script src="js/trendsGraphDyn.js"></script>
	  <script src="js/mediaGraphDyn.js"></script>
	  <script src="js/europeMap.js"></script>
		<script src="js/main.js"></script>

{{ block('footer_brand') }}

</body>
</html>
