{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>
<head>

	{{ block('head_brand') }}

	<!-- A intégrer en local -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800" rel="stylesheet">

	<!-- TODO: webpack, SCSS-->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/map.css" />
</head>

<body>

	{{ block('bar_brand') }}

	{# Emplacement pour le contenu principal #}

	<div class="container">
	<!-- bloc texte -->
	<div class="row text">
		<div class="offset-md-2 col-md-8 col-sm-12">

			<h1 class="intro">Covid-19: histoire d’une médiatisation</h1>

			<p class="lead">Une équipe de recherche de l’EPFL a étudié les liens entre articles, recherches Google et mentions du virus sur les réseaux sociaux. La flambée épidémique en Lombardie a eu un impact décisif dans la prise de conscience de chaque pays</p>

			<!-- google search animation, wip -->
			<div class="text-center" id="corona-search">
				<!-- desktop -->
				<video class="d-none d-sm-block" loop="" muted="" autoplay="" playsinline="">
					<source src="img/corona_search_desktop.mp4?2" type="video/mp4">
					Votre navigateur ne supporte pas les vidéos HTML.
				</video>
				<!-- mobile -->
				<video class="d-block d-sm-none" loop="" muted="" autoplay="" playsinline="">
					<source src="img/corona_search.mp4" type="video/mp4">
					Votre navigateur ne supporte pas les vidéos HTML.
				</video>
			</div>

			<p>«Symptômes», «virus» ou «Svizzera covid»: ce type de recherches Google grimpe en flèche en Suisse, d’après le service Trends (tendances) de Google. Les internautes des cantons latins sont plus assidus que les Alémaniques, avec un volume de recherche particulièrement élevé vers Lausanne et Genève.</p>

			<p>Pour étudier comment le Covid-19 s’est médiatisé, une équipe de chercheurs du Laboratoire de systèmes d’information répartis de l’EPFL s’est associée au <i>Temps</i> et a comparé trois phénomènes: volumes de recherches, volume des articles publiés en ligne par les médias et mentions du coronavirus sur Twitter.</p>

			<p>Cette collaboration est la première du genre réalisée dans le cadre de l’<a target="_blank" href="https://www.media-initiative.ch/">Initiative pour l’innovation dans les médias (IMI)</a>, dont <i>Le Temps</i> et L’EPFL sont partenaires.</p>

			<h3>Impact décisif de la Lombardie</h3>

			<p>Lorsque le gouvernement chinois met la ville entière de Wuhan en quarantaine stricte, le 23 janvier, cette décision donne un premier coup d’accélérateur aux <span class="highlight highlight-red">recherches Google</span> et aux <span class="highlight highlight-blue">tweets</span>. Mais c’est la multiplication des cas en Lombardie qui provoque les volumes de recherche les plus importants. «En Italie, on observe la plus forte augmentation lorsque les infections confirmées passent de 3 à 62 en deux jours, entre le 20 et le 22 février. Dans les pays voisins, la courbe monte en flèche quelques jours après cet événement», commente François Quellec, étudiant de master 2 participant au projet de recherche.</p>

			<!--
			<span class="highlight highlight-red">pic de recherche</span>

			<span class="highlight highlight-blue">Twitter</span>
		-->

		</div>
	</div>


	<!-- bloc données – on peut bien sûr mettre en pleine largeur, au choix -->
	<div class="row chart padding-bottom">
		<div class="offset-md-2 col-md-8 col-sm-12">
			<h5>Flambée des cas en Italie et pics de recherches dans les pays voisins</h5>
			<p class="legend">Les <span class="highlight highlight-red">recherches Google</span> sont mesurées sur une échelle relative allant de 0 (recherche rare) à 100 (recherche la plus fréquente), indiquée sur la gauche du graphique.
			Seuls les <span class="highlight highlight-blue">tweets géolocalisés</span> sont comptés, ce qui représente un quart des mini-messages au niveau mondial.</p>
			<div id="trendsChart" class="chart-background"></div>

			<ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="public-CH" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">Suisse</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="public-IT" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false">Italie</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="public-DE" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">Allemagne</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="public-FR" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">France</a>
				</li>
			</ul>
			<!--<div class="source">
				<b>Source: </b>Google Trends, Twitter API. <b>Période:</b> 2020.01.20 - 2020.03.11.
			</div>-->
		</div>
	</div>

	<!-- bloc texte -->
	<div class="row text">
		<div class="offset-md-2 col-md-8 col-sm-12">

			<p>Les <span class="highlight highlight-blue">tweets</span> suivent une tendance relativement similaire, qui s’explique mieux en regard des <span class="highlight highlight-blue highlight-thin">publications d’articles dans les médias en ligne</span> dans le graphique ci-dessous: les gros volumes d’articles sont concomitants à de gros volumes de tweets. Mais tandis que les articles persistent, les vagues des mini-messages s’essoufflent dans un premier temps.</p>

		</div>
	</div>

	<div class="row chart padding-bottom">
		<div class="offset-md-2 col-md-8 col-sm-12 group-label">
			<h5>Couverture médiatique</h5>
			<p class="legend">Pour chaque pays, les 50 principaux médias en ligne ont été consultés automatiquement afin de compter les articles consacrés au nouveau coronavirus.</p>

			<div id="chartMedia" class="chart-background"></div>
			<ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="media-CH" data-toggle="pill"  role="tab" aria-controls="pills-home" aria-selected="true">Suisse</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="media-IT" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false">Italie</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="media-DE" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">Allemagne</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="media-FR" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">France</a>
				</li>
			</ul>
			<!--<div class="source">
				<b>Source: </b><a target="_blank" href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">Université Johns-Hopkins</a>, Twitter API. <b>Période:</b> 2020.01.20 - 2020.03.11.
			</div>-->
		</div>
	</div>

	<!-- bloc texte -->
	<div class="row text">
		<div class="offset-md-2 col-md-8 col-sm-12">

			<p>En Suisse, les articles ont largement précédé le premier <span class="highlight highlight-blue highlight-dot">cas confirmé de Covid-19</span>, signalé le 25 février. «L’exemple de la Suisse est particulier, puisque le premier cas a été annoncé un mois après ses voisins, remarque Jérémie Rappaz, doctorant à l’EFPL et également membre du projet de recherche. Le grand volume d’articles de presse concernant le virus, alors que celui-ci n’était pas présent sur le territoire, a pu contribuer au sentiment des gens que la presse en fait trop.»</p>

			<h3>Une émission marque un tournant</h3>
			<p>En Italie, une émission de télévision a marqué un tournant le 5 mars, selon Sébastien Salerno, sociologue des médias et chargé de cours à l’Université de Genève. «Dans un premier temps, la représentation médiatique du coronavirus se limitait aux façades d’hôpitaux et aux ambulances, aux médecins qui s’affairent. Puis l’émission <a target="_blank" href="https://www.la7.it/piazzapulita/rivedila7/la-sfida-piu-grande-piazzapulita-puntata-del-05032020-06-03-2020-311590">Piazzapulita du 5 mars</a> a pénétré dans une unité traitant les victimes du coronavirus au sein de l’hôpital de Crémone.»</p>

			<p>Durement frappée par l’épidémie, l’Italie ne connaît pas un volume de tweets particulièrement important. C’est en Grande-Bretagne et en France que sont localisées le plus de publications liées au coronavirus. «Mais comme les pratiques en matière de tweets géolocalisés diffèrent selon les pays, il est difficile d’en tirer des conclusions», relativise Jérémie Rappaz.</p>

			<div class="col-12" id="mapTrigger"></div>
		</div>
	</div>

	<!-- bloc données – on peut bien sûr mettre en pleine largeur, au choix -->
	<div class="row padding-bottom" id="mapContainer">

		<div class="offset-md-1 col-lg-10 col-sm-12">

			<h5>Taux de contamination et nombre de tweets</h5>
			<p class="legend">Semaine par semaine, le <span class="highlight highlight-red">nombre de cas confirmés par million d’habitants</span> et le <span class="highlight highlight-blue">nombre de tweets géolocalisés</span> concernant le Covid-19.</p>

			<div id="map" class=""></div>
		</div>

		<div class="offset-md-1 col-lg-10 col-sm-12">
			<!-- Create an element where the map will take place -->
			<ul class="nav nav-pills" id="pills-tab" role="tablist">
				<li class="nav-item">
						<a id="date-1" data-toggle="pill" class="nav-link active" role="tab" aria-controls="pills-home" aria-selected="true" href="#">22/02</a>
					</li>
					<li class="nav-item">
						<a id="date-2" data-toggle="pill" class="nav-link " role="tab" aria-controls="pills-home" aria-selected="true" href="#">29/02</a>
					</li>
					<li class="nav-item">
						<a id="date-3" data-toggle="pill" class="nav-link " role="tab" aria-controls="pills-home" aria-selected="true" href="#">07/03</a>
					</li>
					<li class="nav-item">
					 <a id="date-4" data-toggle="pill" class="nav-link " role="tab" aria-controls="pills-home" aria-selected="true" href="#">14/03</a>
				</li>
			</ul>
			<div class="map-details">
				<h4></h4>
				<p>Survoler/toucher un pays pour plus d’informations.</p>
			</div>
		</div>
	</div>

	<!-- bloc texte -->
	<div class="row text">
		<div class="offset-md-2 col-md-8 col-sm-12">

			<p>Pourquoi s’intéresser spécialement à Twitter? Selon Jérémie Rappaz, «ce réseau est utilisé à des fins de recherche d’information de la part des utilisateurs, et les tweets reflètent la façon dont cette information est intégrée par la population, ce qui est particulièrement intéressant à observer lorsque des gouvernements visent à engendrer une prise de conscience collective».

			<p>Par ailleurs, souligne Sébastien Salerno, «les informations diffusées sur Instagram et Snapchat au sujet du Covid-19 ont probablement fortement sensibilisé le public jeune». Plus rapidement, peut-être, que d’autres générations fidèles au journal télévisé ou imprimé.</p>

			<p>Quant à TikTok, qui fait fureur auprès des enfants et adolescents, «le registre des discours est complètement différent des médias de masse, relève Sébastien Salerno. Il est de l’ordre de l’humour ou du sarcasme, avec notamment des utilisateurs qui se filment en faisant le dépistage du coronavirus, le tout en musique.»</p>

			<p>Des chercheurs ont commencé à publier des jeux de données d’échanges sur les réseaux sociaux, qu’ils mettent à la disposition de la communauté scientifique afin d’étudier les phénomènes liés à la désinformation et de rechercher des moyens de communiquer plus efficacement en temps de crise. Cet énorme volume de données «va occuper les chercheurs du monde entier durant les prochains mois», prédit Jérémie Rappaz.</p>

		</div>
	</div>






	<!-- bloc texte -->
	<div class="row text">
		<div class="offset-md-2 col-md-8 col-sm-12">

			<p><b>Recherche</b> Jérémie Rappaz, François Quellec<br>

			<b>Texte</b> Paul Ronga<br>

			<b>Données</b> <a target="_blank" href="https://github.com/CSSEGISandData/COVID-19">Johns-Hopkins</a>, <a target="_blank" href="https://trends.google.fr/trends/?geo=FR">Google Trends</a>, <a target="_blank" href="https://linkalong.com/">LinkAlong</a>, <a target="_blank" href="https://help.twitter.com/fr/rules-and-policies/twitter-api">Twitter</a></p>

			<p>Les données Twitter utilisent les tweets géolocalisés uniquement (environ 25% du volume mondial). Les articles de presse sont collectés sur les comptes Twitter des 50 médias les plus populaires de chaque pays selon le classement <a href="https://www.4imn.com/">4imn</a>.</p>

			<p>Ce projet a bénéficié d’un soutien de l’<a target="_blank" href="https://www.media-initiative.ch/">Initiative pour l’innovation dans les médias (IMI)</a> par le biais de la <a target="_blank" href="https://www.media-initiative.ch/project/media-observatory-initiative/">Media Observatory Initiative</a>, dont <i>Le Temps</i> est partenaire.</p>

			<hr />

		</div>
	</div>

	<div class="row">
		<div class="offset-md-2 col-md-8 col-sm-12">

			  <p style="margin-bottom: 5px;"><b>Le point scientifique sur le coronavirus</b></p>
			  <ul>
					<li><a href="https://letemps.ch/sciences/chloroquine-une-piste-lutter-contre-sarscov2">La chloroquine, une piste pour lutter contre le SARS-CoV-2</a></li>
					<li><a href="https://letemps.ch/sciences/suisse-ne-fera-tests-large-echelle">La Suisse ne fera pas de tests à large échelle</a></li>
					<li><strong>En vidéo:</strong>&nbsp;<a href="https://letemps.ch/node/1200340">Le coronavirus en 3 questions</a></li>
					<li><a href="https://letemps.ch/sciences/covid19-bien-pire-quune-grippe">Le Covid-19, bien pire qu’une grippe</a></li>
					<li><a href="https://letemps.ch/sciences/remede-contre-coronavirus-existait-deja">Et si le remède existait déjà?</a></li>
					<li><a href="https://letemps.ch/sciences/masques-ne-protegent-bien-virus">Les masques ne protègent pas bien des virus</a></li>
				</ul>

			<p style="margin-top: 5px;"><b>Consultez </b> notre suivi infographique du virus: <a target="_blank" href="https://labs.letemps.ch/interactive/2020/carte-coronavirus-monde/">L’expansion du nouveau coronavirus</a></p>
		</div>
	</div>

	<div class="row">
		<div class="offset-md-2 col-md-8 col-sm-12">
			<p class="source">Le code source de cette page est <a target="_blank" href="https://github.com/labsletemps/coronavirus-trends">disponible en licence libre</a>.</p>
		</div>
	</div>

		</div><!-- end container -->
		<!-- scrollmagic -->
		<script src="lib/scrollmagic/main.min.js"></script>
		<script src="lib/scrollmagic/animation.gsap.min.js"></script>
		<script src="lib/scrollmagic/animation.velocity.min.js"></script>
		<script src="lib/scrollmagic/debug.addIndicators.min.js"></script>

		<script src="lib/jquery-3.4.1.slim.min.js"></script>
		<script src="lib/d3.min.js"></script>
		<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
		<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/d3-simple-slider"></script>
	  <script src="lib/d3-annotation.min.js"></script>
	  <script src="js/trendsGraphDyn.js"></script>
	  <script src="js/mediaGraphDyn.js"></script>
	  <script src="js/europeMap.js"></script>
		<script src="js/main.js"></script>

{{ block('footer_brand') }}

</body>
</html>
